@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  position: relative;
  font-size: 1.6rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  padding: 0.6em;
  font-size: inherit;
}
input:focus {
  border: 1px solid #c6c6c6;
}
input:active {
  border: 1px solid #c6c6c6;
}

.title {
  font-family: "Anton", sans-serif;
}

.hidden {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.filters .container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 4rem 102px;
}
.filters .container .dropdown {
  min-width: 30rem;
}
.filters .container .dropdown .dropdown-button {
  width: 100%;
}

.recipes .badge {
  top: 21px;
  right: 21px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 102px;
  gap: 66px 48px;
}

.card {
  position: relative;
  flex: 0;
  flex-basis: 380px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 273px;
}
.card .card-body {
  padding: 32px 25px 62px 25px;
}
.card .ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 21px;
}
.card .ingredient {
  flex: 1 0 calc(50% - 21px);
}
.card h2 {
  margin-bottom: 3.2rem;
}
.card h3 {
  font-size: 1.2rem;
  color: #7a7a7a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.card .description {
  color: #1b1b1b;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card h4 {
  font-size: 1.4rem;
  color: #1b1b1b;
  font-weight: 500;
}
.card .quantity {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7a7a7a;
}

.dropdown {
  --padding-item: 1rem 1.6rem;
  background: white;
  position: relative;
  font-size: 1.4rem;
}
.dropdown-button {
  position: relative;
  border: 1px solid #c6c6c6;
  padding: 1rem 4rem 1rem 2rem;
  background: transparent;
  border-radius: 0.8em;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
}
.dropdown-button[data-open] {
  border-bottom: none;
  border-radius: 0.8em 0.8em 0 0;
}
.dropdown-button::after {
  position: absolute;
  display: block;
  content: "";
  background: url(../img/down.svg) no-repeat center/cover transparent;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.dropdown-content {
  position: absolute;
  background-color: white;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-top: none;
  border-radius: 0 0 0.8em 0.8em;
  overflow: hidden;
  z-index: 99;
}
.dropdown-search {
  position: relative;
  padding: var(--padding-item);
}
.dropdown-search .reset {
  position: absolute;
  background: url(../img/close-gray.svg) no-repeat center/contain transparent;
  width: 1em;
  border: none;
  cursor: pointer;
  height: 1em;
  top: 50%;
  right: 1.7em;
  transform: translateY(-50%);
}
.dropdown-list {
  list-style: none;
  max-height: 200px;
  overflow: auto;
}
.dropdown-list li {
  display: flex;
  padding: var(--padding-item);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.dropdown-list li:hover {
  background-color: #ffd15b;
}
.dropdown-list li[data-hidden] {
  display: none;
}
.dropdown-list li[data-selected] {
  background-color: #ffd15b;
  font-weight: 700;
}
.dropdown-list li[data-selected]::after {
  display: block;
}
.dropdown-list li[data-selected] .close {
  display: unset;
}
.dropdown .search {
  width: 100%;
}
.dropdown .close {
  display: none;
  background: url(../img/close-circle-solid.svg) no-repeat center/contain transparent;
  border: none;
  font-size: inherit;
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;
}

.badge {
  position: absolute;
  font-size: 1.2rem;
  border-radius: 1em;
  background-color: #ffd15b;
  padding: 0.4em 1.25em;
}

.recipes .cards {
  background-color: #ededed;
}
.recipes .card {
  background-color: #fff;
}
.recipes .title {
  font-size: 1.8rem;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */