@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  position: relative;
  font-size: 1.6rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  padding: 0.6em;
  font: inherit;
}
input:focus {
  outline: 1px solid #c6c6c6;
}
input:active {
  outline: 1px solid #c6c6c6;
}

button {
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 400;
}

.sr-only {
  display: none;
}

.title {
  font-family: "Anton", sans-serif;
}

.hidden {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ededed;
}

.l-header .container {
  position: relative;
  background: no-repeat center/cover url("../img/lampos-aritonang-24gR_9lCdes-unsplash 1.jpg");
  padding-bottom: 133px;
}
.l-header .header-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 133px;
  padding-left: 6.9rem;
}
.l-header .header-content {
  padding: 84px 0;
}
.l-header .title {
  font-size: 4.4rem;
  padding: 0 275px;
  color: #ffd15b;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.l-header .form-search {
  position: relative;
  width: 100%;
  max-width: 954px;
  margin: 0 auto;
}
.l-header .input-search {
  padding: 1.5em 8em 1.5em 2.1875em;
  font-size: 1.6rem;
  color: #7a7a7a;
  width: 100%;
  border-radius: 0.6875em;
}
.l-header .input-search:-moz-placeholder-shown + .btn-clear {
  display: none;
}
.l-header .input-search:placeholder-shown + .btn-clear {
  display: none;
}
.l-header .btn-search {
  position: absolute;
  aspect-ratio: 1;
  top: 0.625em;
  bottom: 0.625em;
  right: 0.625em;
  border: none;
  outline: 0;
  border-radius: 0.625em;
  background: no-repeat center/50% #000 url(../img/loup-white.svg);
  transition: all ease-in-out 0.3s;
}
.l-header .btn-search:hover {
  background-color: #ffd15b;
  background-image: url(../img/loup-black.svg);
}
.l-header .btn-clear {
  position: absolute;
  border: none;
  outline: 0;
  width: 1em;
  height: 1em;
  top: 50%;
  right: 8.5rem;
  transform: translateY(-50%);
  background: no-repeat center/contain transparent url(../img/close-gray.svg);
}

#filters .container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 102px;
}
#filters .container .filters {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  padding-right: 102px;
}
#filters .container .results {
  display: flex;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  color: #1b1b1b;
}
#filters .container .dropdown {
  min-width: 20rem;
  width: -moz-max-content;
  width: max-content;
}
#filters .container .dropdown .dropdown-button {
  width: 100%;
}

#ingredients-filter {
  --selected-bg-color: #ffd15b;
}

#appliances-filter {
  --selected-bg-color: #ffd15b;
}

#ustensils-filter {
  --selected-bg-color: #ffd15b;
}

.recipes .badge {
  top: 21px;
  right: 21px;
}
.recipes .ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 21px;
}
.recipes .ingredient {
  flex: 1 0 calc(50% - 21px);
}
.recipes .ingredient .name {
  font-size: 1.4rem;
  color: #1b1b1b;
  font-weight: 500;
}
.recipes .ingredient .quantity {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7a7a7a;
}
.recipes .title {
  margin-bottom: 3.2rem;
}
.recipes h3 {
  font-size: 1.2rem;
  color: #7a7a7a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.recipes .description {
  color: #1b1b1b;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.tags-selected {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 1.4rem;
}
.tags-selected .tag-selected {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  border-radius: 0.7em;
  min-width: 140px;
}
.tags-selected .ingredient-tag {
  background-color: #ffd15b;
}
.tags-selected .appliance-tag {
  background-color: #ffd15b;
}
.tags-selected .ustensil-tag {
  background-color: #ffd15b;
}
.tags-selected .btn-clear {
  border: none;
  outline: none;
  background: no-repeat center/contain url(../img/close-black.svg) transparent;
  aspect-ratio: 1;
  height: 1em;
}

.badge {
  position: absolute;
  font-size: 1.2rem;
  border-radius: 1em;
  background-color: #ffd15b;
  padding: 0.4em 1.25em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 102px;
  gap: 66px 48px;
}

.card {
  position: relative;
  flex: 0;
  flex-basis: 380px;
  overflow: hidden;
  border-radius: 21px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 273px;
}
.card .card-body {
  padding: 32px 25px 62px 25px;
}

.dropdown {
  --padding-item: 1rem 1.6rem;
  --selected-bg-color: grey;
  position: relative;
  font-size: 1.4rem;
}
.dropdown-button {
  position: relative;
  border: 1px solid #c6c6c6;
  padding: 1rem 4rem 1rem 2rem;
  background-color: #fff;
  border-radius: 0.8em;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
}
.dropdown-button::after {
  position: absolute;
  content: "";
  background: no-repeat center/contain url(../img/down.svg) transparent;
  width: 1em;
  height: 1em;
  top: 50%;
  right: 1.125em;
  transform: translateY(-50%) scaleY(1);
  transition: transform ease-in-out 0.3s;
}
.dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #fff;
  width: 100%;
  border: 1px solid #c6c6c6;
  border-top: none;
  border-radius: 0 0 0.8em 0.8em;
  overflow: hidden;
}
.dropdown-search {
  position: relative;
  padding: var(--padding-item);
}
.dropdown-items {
  list-style: none;
  max-height: 200px;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dropdown-item.hidden {
  display: none;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--selected-bg-color);
  outline: none;
}
.dropdown-item.selected {
  font-weight: 700;
  background-color: var(--selected-bg-color);
  padding-right: 1.6rem;
  cursor: default;
}
.dropdown-item.selected .btn-select {
  cursor: default;
}
.dropdown-item.selected .btn-unselect {
  visibility: visible;
}
.dropdown-empty {
  padding: 1rem 1.6rem;
  color: lightcoral;
}
.dropdown .input-search {
  width: 100%;
  padding-right: calc(1em + 10px + 1em + 11px);
  background-image: url(../img/loup-gray.svg);
  background-position: center right 11px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1em 1em;
}
.dropdown .input-search:focus {
  outline: 1px solid #c6c6c6;
}
.dropdown .input-search:-moz-placeholder-shown ~ .btn-clear {
  display: none;
}
.dropdown .input-search:placeholder-shown ~ .btn-clear {
  display: none;
}
.dropdown .btn-clear {
  position: absolute;
  background: url(../img/close-gray.svg) no-repeat transparent;
  background-position: center;
  background-size: 0.5em;
  border: none;
  width: 1.25em;
  height: 1.25em;
  top: 50%;
  right: calc(1em + 10px + 1em + 11px);
  transform: translateY(-50%);
}
.dropdown .btn-select {
  display: block;
  padding: 1rem 1.6rem;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
}
.dropdown .btn-select:focus {
  background-color: var(--selected-bg-color);
}
.dropdown .btn-unselect {
  visibility: hidden;
  background: url(../img/close-circle-solid.svg) no-repeat center/contain transparent;
  border: none;
  width: 1.25em;
  height: 1.25em;
}
.dropdown.open .dropdown-button {
  border-bottom: none;
  border-radius: 0.8em 0.8em 0 0;
}
.dropdown.open .dropdown-button::after {
  transform: translateY(-50%) scaleY(-1);
}
.dropdown.open .dropdown-content {
  display: block;
}

.recipes .cards {
  background-color: #ededed;
}
.recipes .card {
  background-color: #fff;
}
.recipes .title {
  font-size: 1.8rem;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */