#filters .container {
  display: flex;
  justify-content: space-between;

  .filters {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 4rem 102px;
  }

  .results {
  }

  .dropdown {
    min-width: 30rem;

    .dropdown-button {
      width: 100%;
    }
  }
}
