.l-header {
  .container {
    position: relative;
    background: no-repeat center / cover
      url("../img/lampos-aritonang-24gR_9lCdes-unsplash 1.jpg");
    padding-bottom: 133px;
  }

  .header-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 133px;
    padding-left: 6.9rem;
  }

  .header-content {
    padding: 84px 0;
  }

  .title {
    font-size: 4.4rem;
    padding: 0 275px;
    color: #ffd15b;
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  .form-search {
    position: relative;

    width: 100%;
    max-width: 954px;
    margin: 0 auto;
  }

  .input-search {
    padding: 1.5em 8em 1.5em 2.1875em;

    font-size: 1.6rem;

    width: 100%;
    border-radius: 0.6875em;

    &:placeholder-shown + .btn-clear {
      display: none;
    }
  }

  .btn-search {
    position: absolute;

    aspect-ratio: 1;
    top: 0.625em;
    bottom: 0.625em;
    right: 0.625em;

    border: none;
    outline: 0;

    border-radius: 0.625em;
    background: no-repeat center / 50% #000 url(../img/loup-white.svg);

    transition: all ease-in-out 0.3s;

    &:hover {
      background-color: #ffd15b;
      background-image: url(../img/loup-black.svg);
    }
  }

  .btn-clear {
    position: absolute;
    border: none;
    outline: 0;
    width: 1em;
    height: 1em;
    top: 50%;
    right: 8.5rem;
    transform: translateY(-50%);
    background: no-repeat center / contain transparent
      url(../img/close-gray.svg);
  }
}
