#tags {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
    justify-content: flex-start;

    padding: 4rem 102px;
    padding-top: 0;

    &.hidden {
      display: none;
    }
  }

  .tag {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;

    padding: 1.25em;
    border-radius: 0.7em;
  }

  .ingredient {
    background-color: $ingredient-color;
  }

  .appliance {
    background-color: $appliance-color;
  }

  .ustensil {
    background-color: $ustensil-color;
  }

  .btn-clear {
    border: none;
    outline: none;
    background: no-repeat center / contain url(../img/close-black.svg)
      transparent;
    aspect-ratio: 1;
    height: 1em;
  }
}
