$selected-item: #ffd15b;
$radius: 0.8em;
$border-color: #c6c6c6;

.dropdown {
  --padding-item: 1rem 1.6rem;

  background: white;
  position: relative;
  font-size: 1.4rem;

  &-button {
    position: relative;

    border: 1px solid $border-color;
    padding: 1rem 4rem 1rem 2rem;

    background-image: url(../img/down.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right 1em;
    background-size: 1em 1em;

    border-radius: $radius;
    font-size: 1.6rem;
    text-align: left;
    cursor: pointer;

    &[data-open] {
      border-bottom: none;
      border-radius: $radius $radius 0 0;
      background-image: url(../img/up.svg);
    }
  }

  &-content {
    position: absolute;
    background-color: white;
    width: 100%;

    border: 1px solid $border-color;
    border-top: none;

    border-radius: 0 0 $radius $radius;
    overflow: hidden;
    z-index: 99;
  }

  &-search {
    position: relative;
    padding: var(--padding-item);
  }

  &-list {
    list-style: none;
    max-height: 200px;
    overflow: auto;

    li {
      display: flex;
      padding: var(--padding-item);
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }

    li:hover,
    li:focus {
      background-color: $selected-item;
      outline: none;
    }

    li[data-hidden] {
      display: none;
    }

    li[data-selected] {
      background-color: $selected-item;
      font-weight: 700;

      &::after {
        display: block;
      }

      .close {
        display: unset;
      }
    }
  }

  .search {
    width: 100%;
    padding-right: calc(1em + 10px + 1em + 11px);

    background-image: url(../img/loup-gray.svg);
    background-position: center right 11px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 1em 1em;

    &:focus {
      outline: 1px solid $border-color;
    }
  }

  .reset {
    position: absolute;
    background: url(../img/close-gray.svg) no-repeat center / cover transparent;
    width: 0.5em;
    height: 0.5em;
    border: none;
    cursor: pointer;
    top: 50%;
    right: calc(1em + 10px + 1em + 11px);
    transform: translateY(-50%);
  }

  .close {
    display: none;
    background: url(../img/close-circle-solid.svg) no-repeat center / contain
      transparent;
    border: none;
    font-size: inherit;
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
  }
}
