$selected-item: #ffd15b;
$radius: 0.8em;
$border-color: #c6c6c6;

$padding-x: 1.125em;

.dropdown {
  --padding-item: 1rem 1.6rem;

  position: relative;

  font-size: 1.4rem;

  &-button {
    position: relative;

    border: 1px solid $border-color;
    padding: 1rem 4rem 1rem 2rem;
    background-color: $dropdown-bg-color;

    border-radius: $radius;
    font-size: 1.6rem;
    text-align: left;
    cursor: pointer;

    &::after {
      position: absolute;

      content: "";

      background: no-repeat center / contain url(../img/down.svg) transparent;

      width: 1em;
      height: 1em;

      top: 50%;
      right: $padding-x;
      transform: translateY(-50%) scaleY(1);

      transition: transform ease-in-out 0.3s;
    }
  }

  &-content {
    position: absolute;
    z-index: 1;

    display: none;

    background-color: $dropdown-bg-color;
    width: 100%;

    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 $radius $radius;
    overflow: hidden;
  }

  &-search {
    position: relative;
    padding: var(--padding-item);
  }

  &-items {
    list-style: none;
    max-height: 200px;
    overflow: auto;
    user-select: none;
  }

  &-item {
    display: flex;

    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $selected-item;
      outline: none;
    }

    &[data-hidden] {
      display: none;
    }

    &[data-selected] {
      font-weight: 700;
      background-color: $selected-item;
      padding-right: 1.6rem;
      cursor: default;

      .btn-select {
        cursor: default;
      }

      .btn-unselect {
        display: unset;
      }
    }
  }

  &-empty {
    padding: 1rem 1.6rem;
    color: lightcoral;
  }

  .input-search {
    width: 100%;
    padding-right: calc(1em + 10px + 1em + 11px);

    background-image: url(../img/loup-gray.svg);
    background-position: center right 11px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 1em 1em;

    &:focus {
      outline: 1px solid $border-color;
    }

    &:placeholder-shown ~ .btn-clear {
      display: none;
    }
  }

  .btn-clear {
    position: absolute;

    background: url(../img/close-gray.svg) no-repeat transparent;
    background-position: center;
    background-size: 0.5em;
    border: none;

    width: 1.25em;
    height: 1.25em;

    top: 50%;
    right: calc(1em + 10px + 1em + 11px);
    transform: translateY(-50%);
  }

  .btn-select {
    display: block;

    padding: 1rem 1.6rem;
    border: none;
    outline: none;
    text-align: left;

    width: 100%;

    &:focus {
      background-color: $selected-item;
    }
  }

  .btn-unselect {
    display: none;

    background: url(../img/close-circle-solid.svg) no-repeat center / contain
      transparent;
    border: none;

    width: 1.25em;
    height: 1.25em;
  }

  &[data-open] {
    .dropdown-button {
      border-bottom: none;
      border-radius: $radius $radius 0 0;

      &::after {
        transform: translateY(-50%) scaleY(-1);
      }
    }

    .dropdown-content {
      display: block;
    }
  }
}
